// body {
// 	backdrop-filter: blur(150px);
// 	background: rgba(6, 7, 7, 0.85);
// }
.heder {
	position: absolute;
	height: 694px;
	width: 1920px;
	backdrop-filter: blur(150px);
	background: rgba(6, 7, 7, 0.85);
	z-index: 2;
}
img {
	position: relative;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: -37.46%;
	display: block;
	height: 694px;
	width: 1920px;
	z-index: -1;
}
